
<div style="font-family: arial; position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px; height: 200px;
    width: 400px;color:#b38123">
<h1>LAF WAS HERE.....!!!</h1></div>
